.Block {
  width: 70px;
  height: 70px;
  display: flex;
  margin: 3px;
}

.BlockThumbnail{
  width: 70px;
  height: 70px;
  background-image:url("../images/block.png");
  background-size:cover;
}

.Block:hover {
  width: 210px;
  background-color: #EEE
}

.BlockDescription{
  width: 0px;
  display: none;
}

.Block:hover .BlockDescription{
  width: auto;
  display: block;
}

.block-wrapper {
  width:100%;
  height:100%;
}
