.Block {
  width: 20vw;
  height: 20vw;
  display: flex;
}

.BlockThumbnail{
  width: 20vw;
  height: 20vw;
  background-image: url("../images/block.png");
  background-size: cover;
}

.Block:hover {
  width: 20vw;
  background-color: #EEE;
}

.BlockDescription{
  width: 0;
  display: none;
}

.Block:hover .BlockDescription{
  width: auto;
  display: block;
}

.block-wrapper {
  width: 100%;
  height: 100%;
}
