@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab|Slabo+27px');

.Header {
  height: 10vw;
  text-align: center;
  font-family: "Merriweather";
}

.Logo {
  display: inline-block;
  font-size: 2vw
}

.Menu {
  display: inline-block;
  float: right;
}
